<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Test the app as been promoted to test using the image stream tag</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="com.openshift.openshiftjenkinsbuildutils.OpenShiftImageStreams" plugin="openshift-jenkins-buildutils@1.0-SNAPSHOT">
    <imageStreamName>jws-app</imageStreamName>
    <tag>promote</tag>
    <apiURL>https://ose31-master.hosts.foo.com:8443</apiURL>
    <nameSpace>jws-app-todo-qa</nameSpace>
    <authToken>eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJkZWZhdWx0Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZWNyZXQubmFtZSI6ImplbmtpbnMtdG9rZW4tZTFraHMiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC5uYW1lIjoiamVua2lucyIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50LnVpZCI6Ijg4YjMzODQ0LTkyODYtMTFlNS05NmRhLTUyNTQwMGIzNmQxZCIsInN1YiI6InN5c3RlbTpzZXJ2aWNlYWNjb3VudDpkZWZhdWx0OmplbmtpbnMifQ.MaR2q6b8SHj87EFMIr-VpQsxhtAmRK_L-H-ZU0G8goQf1BKKtcQkq1m714fl4q5BsqiCNQ46EvNMwDIbqp1xlkZnpJOmNYVgCgoHkK9tYWnq2-pdJhiy_O9r3mCI27miJIR8EKhWGCCqcTU7upBZjCHmriZ2rtlp3R4hjXVN6qdKQhVNiHGUWJyrP0l-cdUdxwNXD1VlxhbsW9qoVfyf572xpMpSPzigsLzSsMD-EEcfCc2zg1zQAyJp8mN3ikhcYL86rg8lw9LN98GYYPZRJGj0FrfaByXJ2ZQXKlvC1ODocGD4dnHS4XHbcp4-OqV2ZchncZ369-CH48wG4RVq-g</authToken>
    <verbose>true</verbose>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>H/2 * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.openshift.openshiftjenkinsbuildutils.OpenShiftDeploymentVerifier plugin="openshift-jenkins-buildutils@1.0-SNAPSHOT">
      <apiURL>https://ose31-master.hosts.foo.com:8443</apiURL>
      <depCfg>jws-app</depCfg>
      <nameSpace>jws-app-todo-prd</nameSpace>
      <replicaCount>1</replicaCount>
      <authToken>eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJkZWZhdWx0Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZWNyZXQubmFtZSI6ImplbmtpbnMtdG9rZW4tZTFraHMiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC5uYW1lIjoiamVua2lucyIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50LnVpZCI6Ijg4YjMzODQ0LTkyODYtMTFlNS05NmRhLTUyNTQwMGIzNmQxZCIsInN1YiI6InN5c3RlbTpzZXJ2aWNlYWNjb3VudDpkZWZhdWx0OmplbmtpbnMifQ.MaR2q6b8SHj87EFMIr-VpQsxhtAmRK_L-H-ZU0G8goQf1BKKtcQkq1m714fl4q5BsqiCNQ46EvNMwDIbqp1xlkZnpJOmNYVgCgoHkK9tYWnq2-pdJhiy_O9r3mCI27miJIR8EKhWGCCqcTU7upBZjCHmriZ2rtlp3R4hjXVN6qdKQhVNiHGUWJyrP0l-cdUdxwNXD1VlxhbsW9qoVfyf572xpMpSPzigsLzSsMD-EEcfCc2zg1zQAyJp8mN3ikhcYL86rg8lw9LN98GYYPZRJGj0FrfaByXJ2ZQXKlvC1ODocGD4dnHS4XHbcp4-OqV2ZchncZ369-CH48wG4RVq-g</authToken>
      <verbose>false</verbose>
    </com.openshift.openshiftjenkinsbuildutils.OpenShiftDeploymentVerifier>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>